body
{
    font-family: Spectral,sans-serif;
}
/*Header*/
header
{
    border-bottom:1px solid black;
    background-color: #FFC017;
    position: sticky;
    top: 0;
    z-index: 1;
}
button
{
    background-color: black;
    color: white;
    border-radius: 25%;
    width: 100%;
}
header div:first-child
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:1px solid black;
}

header nav
{
    display: flex;
}
header a
{
    text-decoration: none;
    color: black;
}
header nav ul 
{
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
header nav ul li
{
    margin: 5%;
}
.Curious
{
    padding: 5%;
    padding-right: 0%;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid black;
    background-color: #FFC017;
}
.Curious div
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.Curious button
{
    margin-top: 1%;
    max-width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.Curious h2
{
    font-size: 400%;
    margin-bottom: 1%;
}

 /*Titoli articoli*/
svg
{
    max-width: 30%;
}
main
{
    color: gray;
}
h3
{
    color: black;
    font-size: 100%;
    font-weight: bold;
}
/*Article*/
article
{
    margin-left: 5%;
}
article img
{
    max-width: 20%;
}
.divAutore img
{
    width: 4%;
}
#Trending .divAutore img
{
    width: 8%;
}
.divAutore p /*Autori*/
{
    font-size: 100%;
    color: black;
}
.FlexDiv
{
    margin-top: 3%;
    display: flex;
}
article .FlexDiv
{
    align-items: center;
    width: 100%;
}
#NotTrending .FlexDiv
{
    justify-content:space-between;
}
span
{
    border-radius: 25%;
    background-color: #E6E7E7;
}
#Trending span
{
    color: gray;
    background-color: white;
}
/*Sezione trending*/
.logoTrending img
{
    float: left;
}
.logoTrending
{
    margin-left:5%;
    margin-top:5%;
    margin-bottom: 2%;
    display: flex;
}
.FlexDivTrending
{
    display: flex;
    flex-wrap: wrap;
}
.FlexDivTrending article
{
    width:25%;
}
.numero
{
    font-size: 2%;
    font-weight: bold;
    color: #E6E7E7;
    align-self: flex-start;
}
/*Fine trending*/
.Autore
{
    margin-bottom: 1%;
}
.divAutore
{
    display: flex;
    align-items: center;
}
.Segnalibro
{
    align-self: flex-end;
    padding-left: 2%;
}
.TestoStella
{
    display: flex;
    margin-top: 0.5%;
    margin-bottom: 1%;
}
.TestoStella img
{
    margin-left: 1%;
}
/*Aside*/
aside
{
    margin-left: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 40%;
}
aside h3
{
    font-size: 100%;
}
aside nav ul
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
aside nav:first-of-type ul
{
    
    border-bottom: 1px solid gray;
    margin-bottom: 1%;
}
aside nav ul li
{
    padding: 0.5%;
    margin: 1%;
}
aside nav:first-of-type ul li
{
    border: 1px solid #E6E7E7;
}
/*Animazioni header*/
.SfondoVerde
{
    animation: CambiaSfondoVerde 1s ease-in-out 0.5s forwards;
    -moz-animation: CambiaSfondoVerde 1s ease-in-out 0.5s forwards;
    -webkit-animation: CambiaSfondoVerde 1s ease-in-out 0.5s forwards;
    -o-animation: CambiaSfondoVerde 1s ease-in-out 0.5s forwards;
}
.SfondoBianco
{
    animation: CambiaSfondoBianco 1s ease-in-out 0.5s forwards;
    -moz-animation: CambiaSfondoBianco 1s ease-in-out 0.5s forwards;
    -webkit-animation: CambiaSfondoBianco 1s ease-in-out 0.5s forwards;
    -o-animation: CambiaSfondoBianco 1s ease-in-out 0.5s forwards;
}
@keyframes CambiaSfondoVerde
{
    0%   {background-color: black;}
  100% {background-color: #1a8917;}
}
@keyframes CambiaSfondoBianco
{
    0%   {background-color: #FFC017;}
  100% {background-color: white;}
}
/*481px — 768px: iPads, Tablets*/
@media (min-width: 481px) and  (max-width: 768px)
{
    .FlexDivTrending article
    {
        width:40%;
    }
    #NotTrending
    {
        flex-direction: column;
    }
    aside
    {
        display: flex;
        align-items:flex-start;
        order:0;
        max-width: 100%;
    }
    #NotTrending section
    {
        order:1;
    }
}
/*320px — 480px: Mobile devices*/
@media screen and  (max-width: 480px) 
{
    .FlexDivTrending article
    {
        width:80%;
    }
    header ul li:nth-child(1)
    {
        display: none;
    }
    header ul li:nth-child(2)
    {
        display: none;
    }
    header ul li:nth-child(3)
    {
        display: none;
    }
    svg
    {
        display: none;
    }
} 
/*M a caso*/
g
{
    opacity: 1;
}
.randoM
{
    animation: Fading 1s ease-in-out 0.5s none;
    -moz-animation: Fading 1s ease-in-out 0.5s none;
    -webkit-animation: Fading 1s ease-in-out 0.5s none;
    -o-animation: Fading 1s ease-in-out 0.5s none;
}
@keyframes Fading
{
    0%   {opacity: 100%;}
  100% {opacity: 0%;}
}